@model GroupingModel;

@{
    ViewData["Title"] = "Grouping Service";
}

<div class="text-center">
    <h1 class="display-4">Grouping Service</h1>
    <p>
        Web application that combines single users to groups of N minimizing the difference
        in two values: skill and remoteness.
    </p>

    @Html.Label("Default amount of players per group (N): ")
    @Html.ValueFor(m => m.NPlayersPerGroup)

    <form action="@Url.Action("Index", "Home")" method="POST">
        @Html.Label("Set new value for N: ")
        @Html.TextBoxFor(m => m.NPlayersPerGroup)
        <input type="submit" value="Start" />
    </form>
</div>
